# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 Project Tick
# SPDX-FileContributor: Project Tick
#
# Copyright (c) 2026 Project Tick
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
# of the Software, and to permit persons to whom the Software is furnished to do
# so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides

APP_ENV=
APP_DEBUG=
GH_BRIDGE_TOKEN=
GL_BRIDGE_TOKEN=
OAUTH_MICROSOFT_ID=
OAUTH_MICROSOFT_SECRET=
GITHUB_TOKENS=
PADDLE_VENDOR_ID=
PADDLE_VENDOR_AUTH_CODE=
MAILER_DSN=
PADDLE_PUBLIC_KEY=
PADDLE_SANDBOX=true
OAUTH_GITLAB_ID=
OAUTH_GITLAB_SECRET=
GITHUB_TOKEN=
APP_SECRET=
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
OAUTH_GITHUB_ID=
OAUTH_GITHUB_SECRET=
DATABASE_URL=
GITHUB_BOT_ALWAYS_REVIEWERS=
GITHUB_BOT_AUTO_MERGE_ENABLED=
GITHUB_BOT_ALLOW_MERGE_COMMAND_SKIP_CI=
GITHUB_BOT_COMMENT_ON_COMMAND=
GITHUB_BOT_APPROVE_ON_GREEN=
RELAYING_PARTY_ID=
PROJT_LICENSE_SECRET=
